# SpaceTraders API Configuration
SPACETRADERS_API_KEY=your_api_key_here

# LLM Configuration
OLLAMA_MODEL=llama3.1

# if you have OLLAMA configured on an alternate machine
#OLLAMA_BASE_URL=https://ollama_server:11434

# Logging Configuration
# Set to "true" or "1" to enable verbose API request/response logging
LOG_API=false
